package shared

import (
	"github.com/mbacalan/bowl/components/partials"
	"github.com/mbacalan/bowl/components"
)

templ Page(s components.Settings) {
	<!DOCTYPE html>
	<html lang="en">
		@partials.Head()
		@partials.Body(s) {
			{ children... }
		}
	</html>
}
