@font-face {
  font-family: 'HedvigLetters';
  font-style: 'normal';
  src: url('/assets/HedvigLettersSerif-Regular-Variable.ttf') format('truetype');
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

main {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'HedvigLetters';
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  border: 1px solid var(--fbc-gray-20);
  border-radius: 8px;
  padding: 8px;

  & h2 {
    margin-top: 1.5rem;
  }

  & h6 {
    margin-top: 1.5rem;
  }
}

.form-button {
  width: 100%;
}

.form-button-submit {
  margin-top: 1.5rem;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  label, input {
    width: 100%;
  }

  .remove {
    margin-bottom: 10px;
    cursor: pointer;
  }
}

.recipe-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
}
