body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

main {
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bordered {
  border: 1px solid var(--fbc-gray-20);
  border-radius: 8px;
  padding: 8px;
}
