package partials

import "github.com/mbacalan/bowl/components"

templ Body(s components.Settings) {
	<body>
		@Header(s)
		<main>
			{ children... }
		</main>
		<script src="/assets/index.js" data-testid="js-asset"></script>
		@Footer()
	</body>
}
