package partials

import "github.com/mbacalan/bowl/components"

templ Header(s components.Settings) {
	<header class="header">
		<h1><a href="/" data-testid="home-page-link">🥗 Bowl</a></h1>
		<div class="header-content">
			if s.IsAdmin {
				<a href="/admin" data-testid="admin-link">Admin</a>
			}
			|
			<a href="/recipes/create" data-testid="recipe-create-link" class="header-new-recipe">+ Recipe</a>
		</div>
	</header>
}
