package pages

import (
	"github.com/mbacalan/bowl/components"
	"github.com/mbacalan/bowl/components/shared"
	"github.com/mbacalan/bowl/models"
)

templ Home(s components.Settings, r []models.Recipe) {
	@shared.Page(s) {
		<h2>A database of your own recipes</h2>
		<hr/>
		<h3>
			<a href="/recipes" class="recipes-link">
				📃 Recipes
			</a>
		</h3>
		<h3>
			<a href="/categories" class="categories-link">
				📚 Categories
			</a>
		</h3>
		<hr/>
	}
}
