package pages

import "github.com/mbacalan/bowl/models"
import "fmt"

templ QuantityUnits(units []models.QuantityUnit, selected string) {
	<option
		data-testid="quantity-unit-option-default"
		disabled
		value=""
		if selected == "" {
			selected
		}
	>
		Select
	</option>

	for _, unit := range units {
		<option
			data-testid={fmt.Sprintf("quantity-unit-option-%d", unit.ID)}
			id={ unit.Name }
			if selected == unit.Name {
				selected
			}
		>
			{ unit.Name }
		</option>
	}
}
