package admin

import "github.com/mbacalan/bowl/components/shared"

templ Admin() {
	@shared.Page() {
		<h2>Admin Dashboard</h2>

		<div class="admin-menu">
			<a href="/admin/ingredients">Ingredients</a>
			<a href="/admin/quantity-units">Quantity Units</a>
		</div>
	}
}
