package pages

import (
	"github.com/mbacalan/bowl/components/shared"
	"github.com/mbacalan/bowl/components"
)

templ Auth(s components.Settings) {
	@shared.Page(s) {
		@Login()

		<hr />
		<div style="text-align: center;">OR</div>
		<hr />

		@Signup()
	}
}
