package pages

import "github.com/mbacalan/bowl/components/shared"
import "github.com/mbacalan/bowl/components"

templ CreateIngredient(s components.Settings) {
	@shared.Page(s) {
		<form id="ingredient-form" action="/ingredients" method="post" hx-post="/ingredients/create" hx-swap="outerHTML" hx-select="[data-swap='ingredient']">
			<label>
				Name
				<input type="text" id="name" name="name"/>
			</label>
			<button type="submit">Submit</button>
		</form>
	}
}
