package pages

import (
	"github.com/mbacalan/bowl/components/shared"
	"github.com/mbacalan/bowl/components/recipes"
	"github.com/mbacalan/bowl/repositories"
)

templ Home(r []db.Recipe) {
	@shared.Page() {
		<h2>A database of your own recipes</h2>
		<hr/>
		<h3><a href="/recipes">🧾 Recipes</a></h3>
		<h3><a href="/categories">🍽 Cateogories</a></h3>
		<h3><a href="/ingredients">🍽 Ingredients</a></h3>
		<h4>...or take a look at the recently created recipes</h4>
		@recipes.RecipeList(r)
	}
}
