package pages

import (
	"github.com/mbacalan/bowl/components/shared"
)

templ Home() {
	@shared.Page() {
		<main>
			<h2>A database of your own recipes</h2>
			<a href="/recipes">Browse</a>
		</main>
	}
}
