package pages

templ Login() {
	<form
		id="login-form"
		method="post"
		action="/"
		hx-post="/auth/login"
		hx-target="body"
	>
		<h2>Login</h2>

		<label for="username">Username</label>
		<input type="text" name="username" />

		<label for="password">Password</label>
		<input type="password" name="password" />

		<input type="submit" value="Login" />
	</form>
}
