package pages

import "github.com/mbacalan/bowl/repositories"

templ QuantityUnits(units []repositories.QuantityUnit, selected string) {
	<option
		disabled
		value=""
		if selected == "" {
			selected
		}
	>
		Select
	</option>

	for _, unit := range units {
		<option
			id={ unit.Unit }
			if selected == unit.Unit {
				selected
			}
		>
			{ unit.Unit }
		</option>
	}
}
