package admin

import "github.com/mbacalan/bowl/components/shared"
import "github.com/mbacalan/bowl/components"

templ Admin(s components.Settings) {
	@shared.Page(s) {
		<h2>Admin Dashboard</h2>

		<div class="admin-menu">
			<a href="/admin/ingredients">Ingredients</a>
			<a href="/admin/quantity-units">Quantity Units</a>
		</div>
	}
}
