package partials

templ Header() {
	<header class="header">
		<h1><a href="/" data-testid="home-page-link">🥗 Bowl</a></h1>
		<h1><a href="/recipes/create" data-testid="recipe-create-link">+</a></h1>
	</header>
}
