package partials

templ Head() {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>🥗 Bowl</title>
		<link rel="stylesheet" href="/assets/modern-normalize.css"/>
		<link rel="stylesheet" href="/assets/sakura.css"/>
		<link rel="stylesheet" href="/assets/style.css"/>
		<script src="/assets/htmx.min.js"></script>
		{ children... }
	</head>
}

